.title {
    text-align: center;
    margin-top: 25px;
}

.form {
    margin: auto;
    max-width: 80%;
    text-align: center;
}

input[type='submit'], button {
    cursor: pointer;
}

#edit-box {
    display: none;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
}

table {
    margin-left:auto;
    margin-right:auto;
    text-align: left;
}


.result {
    text-align: center;
}

#chosenGame {
    font-size: 40px;
}

#what-game {
    line-height: 1;

}